<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 정보를 제공합니까?</string>
	<key>NMFClientId</key>
	<string>8xsflddvqm</string>
	<key>NMFClientSecret</key>
	<string>zQjxdQeCl1xKcEKqTxW0pguAAPj9SUd4qKLoeDyW</string>
	<key>SearchClientId</key>
	<string>JvCDRi6WT8goAGxwJEDU</string>
	<key>SearchClientSecret</key>
	<string>vQDKtqSk_h</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SingleDay-Regular.ttf</string>
		<string>Dongle-Light.ttf</string>
		<string>Dongle-Regular.ttf</string>
	</array>
</dict>
</plist>
